.layout {
    background-image: url(../../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    padding-bottom: 250px;
}